[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
httplib2 = "*"
dateutils = "*"
blessings = "*"
html2text = "*"
peewee = "*"
authenticator = "*"
google-auth = "*"

[requires]
python_version = "3.7"
