[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
httplib2 = "*"
dateutils = "*"
blessings = "*"
html2text = "*"
peewee = "*"
authenticator = "*"
oauth2client = "*"
jupyter = "*"
notebook = "*"
matplotlib = "*"
scikit-learn = "*"
mpld3 = "*"
google-api-python-client = "*"

[requires]
python_version = "3.7"
